body {
	padding:1em;
}
header {
  display: flex;
	justify-content: space-between;
  flex-wrap: wrap;
	align-items: baseline;
  margin-right: 120px;
}
header > div {
	display: inline-block;
	margin-right: 1em;
	margin-bottom: 1em;
}
header .data-source select {
	margin-left: 1em;
}
label {
	/* Don't use Bootstrap's bold labels. */
	font-weight: initial;
}
.options select {
	margin-left: 1em;
	margin-right: 2em;
}
#recipe {
	width: 20em;
}
#ips {
	width: 5em;
	text-align:right;
}

#calc input {
	margin: 0 0.5em;
	font-family: monospace;
}
.req {
	font-size: 12px;
	color:#999;
	line-height: 25px;
}
.req > div, .req .recipe-info > div, .req .data > div {
	display: inline;
	margin-right:1em;
}
.req .data {
	display: inline-block !important;
	position: absolute;
	left: 40%;
	height: 25px;
	overflow: hidden;
}
.req .val {
	font-family: monospace;
	font-size: 16px;
	color:#000;
	padding: 0 0.5em;
	display: inline-block;
	width: 4em;
	text-align: right;
}
.req .name {
	font-family: monospace;
	font-weight: bold;
	padding-right:1em;
	font-size: 16px;
	color:#000;
	width:25%;
}

.req .inputs {
	display: block !important;
	margin-left:2em;
	padding-left: 1em;
	border-left:1px dotted #ccc;
}

.req .assemblers .val{
	font-weight: bold;
	color:#CC7A00;
}
